/* Importa a fonte Raleway do Google Fonts com diferentes pesos */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

/* Estilos gerais do corṕo da página */
body{
    background-color: #192a56; /* Cor de fundo azul escuroi */
    margin: 0;                   /* Remove margens padrão */
    height: 100vh;               /* Altura igual à viewport inteira */
    display: flex;               /* Ativa o modelo Flexbox */
    justify-content: center;     /* Centraliza horizontalmente */
    align-items: center;         /* Centraliza verticalmente */
    font-family: 'Raleway', arial, sans-serif;
} 

/* Estilização do cartão principal */
.card{
    position:relative;           /* Permite posicionamento absoluto dos elementos internos */
    width: 300px;                /* Largura fixa do cartão */
    height: 400px;               /* Altura fixa do cartão */
    background-color: black;   /* Cor de fundo preta (visível durante transições) */
    box-shadow: 0px 30px 30px rgba(0,0,0,0.5); /* Sombra suave abaixo do cartão */
}

/* Camada de conteúdo que aparece por baixo/sobre a imagem */
.content{
    position: absolute;          /* Posicionamento relativo ao cartão (.card) */
    bottom:0px;                  /* Fixa na parte inferior do cartão */
    width: 80%;                  /* Largura inicial: 80% do cartão */
    height: 80px;                /* Altura inicial: apenas 80px (recolhida) */
    background-color: white;     /* Fundo branco para o conteúdo textual */
    left: 10%;                   /* Margem esquerda de 10% (centraliza horizontalmente) */
    text-align: center;          /* Texto centralizado */
    transition:0.5s;             /* Transição suave de 0.5 segundos para mudanças de estilo */
    overflow: hidden;            /* Esconde conteúdo que ultrapassa a altura definida */
}

/* Estilização do título (h3) dentro do conteúdo */
h3{
    font-size: 30px;
    text-transform: uppercase;
    margin:25px;
}


p{
    width: 80%;
    margin: 10px auto;
    font-size: 18px;
    transition: 0.5s;
    opacity: 0;
}


a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 10px;
    transition: 0.5s;
    opacity: 0;
}


.card:hover .content{
    height:100%;
    width:100%;
    left:100%;
}


.card:hover p,
.card:hover a{
    opacity: 1;
    transition-delay: 0.5s;
}


.imgbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}


img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}


.card:hover img{
    opacity: 0;
}
